<h1 class="text-center mt-4">Showing article details</h1>
<p><strong>Titile:</strong> <%= @article.title %></p>
<p><strong>Description:</strong> <%= @article.description %></p>

<%= link_to "Edit article", edit_article_path(@article) %> | 
<%= link_to "Delete article", article_path(@article), method: :delete, 
    data: { confirm: "Are you shure?" } %> |
<%= link_to "Return to articles listing", articles_path %>